body {
    background-color: whitesmoke;
    
}


canvas {
    /* background: linear-gradient(to bottom, #0066cc 0%, #00cc66 100%); */
    background-color: white;

    display: block;
}

#startBtn {
    border: none;
    background: none;
    position: absolute;
    z-index: 1;
   


}
video { height: 100vh; min-height: 100%; }
.swal2-icon-content img{
    height: 200px;
    width:200px;
}
/* .no-border {
    border: 0 !important;
  } */
.swal2-icon{
    height: 300px !important;
    width: 300px !important;
}
#go {
    border: none;
    background: none;
    position: absolute;
    z-index: 1;
    /* width: 100%;
    height: 1200px */
   


}
#rightBtn{
    border: none;
    background: none;
    position: absolute;
    margin-left: 85%;
    margin-top: 130%;
    
}

#leftBtn{
    border: none;
    background: none;
    position: absolute;
    margin-right: 85%;
    margin-top: 130%;
}
#leftBtn{
    position: absolute;
}
@media only screen and (max-width: 600px) {
    #startBtn img{
        height: 50px;
        width: 50px;
    }
    #leftBtn{
        display: block;

    }
    #rightBtn{
        display: block;
    }
}

#leftBtn{
    display: none;

}
#rightBtn{
    display: none;
}  
#startBtn img{
    height: 100px;
    width: 100px;
}
#leftBtn img{
    height: 50px;
    width: 50px;
    transform: rotate(180deg);
}

#rightBtn img{
    height: 50px;
    width: 50px;
}
#countdown{
    position: absolute;
  
}



#myCanvas {
    position: relative;
   
}

.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
   

}

/* ////////// */
body {
    font-family: 'Arial';
}
.button-group {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.button-group button {
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px;
}
.button-group button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0 #ccc;
}
.dialog-container {
    position: absolute;
    left: 50%;
    top: -30%;
    transform: translateX(-50%) translateY(-50%);
    width: 400px;
    background: #fff;
    padding: 10px;
    border: 2px solid #ddd;
    box-shadow: 1px 1px 5px 1px #ccc;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.3s linear 0s;
}
.dialog-header {
    padding: 10px;
    font-weight: bold;
    background: #575757;
    color: #f6f7f8;
}
.dialog-body {
    padding: 10px;
    line-height: 30px;
}
.dialog-footer {
    text-align: center;
    background: #f5f5f2;
    padding: 3px 0;
}
.dialog-footer a {
    display: inline-block;
    width: 100px;
    padding: 5px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #eee;
    cursor: pointer;
}
.dialog-footer a:active {
    box-shadow: inset 2px 2px 4px 0 #ccc;
    color: #666;
}
